
#title {
  display: inline;
  background-color:#000000;
  color:#FF00FF;;
}
{
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  background-color: #ce8989;
  text-align: center;
}
  
 

/* หัวข้อข้างบน */
.header {
  padding: 60px;
  text-align: center;
  background: #df1212;
  color: rgb(248, 244, 17);
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: rgb(29, 28, 28);
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
div.bo1 {
  width:500px;
  margin: auto;
  border: 3px solid #92ec14;
}
div.bo2 {
  width:500px;
  margin: auto;
  border: 3px solid #b66f12;
}
div.bo3 {
  width:500px;
  margin: auto;
  border: 3px solid #e7d10a;
}
div.bo4 {
  width:500px;
  margin: auto;
  border: 3px solid #0ebaee;
}
div.bo5 {
  width:500px;
  margin: auto;
  border: 3px solid #961284;
}
div.pic1 {
  width:250px;
  height: 200;
  margin: auto;
  border: 3px solid #7e10c7;
}


p.wit {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width:500px;
  margin: auto;
  border: 10px solid #c710a8;

}

p.facebook {
  display: inline;
  background-color: #000000;
  color: rgb(255, 255, 255);
  width:400px;
  margin: auto;
  border: 3px solid #cc490c;
}

/* visited link */
a:visited {
  display: inline;
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: #FFFF00;
}

/* selected link */
a:active {
  color: #FF00FF;
  span {
      display: block;
  }

}

div {

  background-color: rgb(255, 255, 255);
  color: black;

}

.container {
  width:500px;
  height: 300px;
  border: 3px solid #961284;
  margin: 0 auto;
  text-align: center;
}


.contact {
  width: 100%;
  height: 515px;
}

.contact_area h1 {
  font-weight: normal;
}
.contact_area input {
  margin: 10px 0;
  border: 2px solid #333;
  width: 350px;
  padding: 10px;
}

.contact_area textarea {
  margin: 10px 0;
  border: 2px solid #333;
  width: 350px;
  padding: 10px;
}

.contact_area button {
  padding: 10px;
  width: 90px;
  background: #333;
  color: #fff;
  border: 2px solid transparent;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
}
.contact_area button:hover {
  background: #fff;
  color: #333;
  border: 2px solid #333;
}
